/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif !important;
    font-style: normal;
    background-color: rgb(237, 233, 229) !important;
}

.btn-primary {
    background-color: #5c6bbd !important;
    border: none !important;
    
    &:hover {
        background-color: #6e7cc7 !important;
    }
}