<table class="table">
    <thead>
      <tr>
        <th class="bg-transparent" scope="col">Title</th>
        <th class="bg-transparent" scope="col">Language</th>
        <th class="bg-transparent" scope="col">Genre</th>
        <th class="bg-transparent" scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="tbody_book" *ngFor="let book of books">
      <tr class="solid">
        <td>{{ book.title }}</td>
        <td>{{ book.language }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.readingStatus | statusReading }}</td>
      </tr>
    </tbody>
  </table>