.table {
    border-collapse: separate;
    border-spacing: 0 1em;

    thead {
        tr {
            border-style: hidden;
            border: transparent;
            
            .table-column-title {
                cursor: pointer;
            }
        }
    }

    td {
        border-top: thin solid;
        border-bottom: thin solid;
        background-color: #ffffff4a;
        padding: 14px 10px;

        &:first-child {
            border-left: thin solid;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &:last-child {
            border-right: thin solid;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .icon {
            cursor: pointer;
        }

        .bg-badged {
            background-color: #5c6bbd;
        }

        &.image {
            img {
                width: 50px;
            }
        }
    }
}