<nav aria-label="navigation">
	<ul class="pagination d-flex justify-content-center">
		<li class="page-item" [class.disabled]="currentPage === 1">
			<a class="page-link" (click)="changePage(1)">First</a>
		</li>
		<li class="page-item" [class.disabled]="currentPage === 1">
			<a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
		</li>
		<li class="page-item" [class.active]="page === currentPage"
			*ngFor="let page of [].constructor(totalPages); let i = index">
			<a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
		</li>
		<li class="page-item" [class.disabled]="currentPage === totalPages">
			<a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
		</li>
		<li class="page-item" [class.disabled]="currentPage === totalPages">
			<a class="page-link" (click)="changePage(totalPages)">Last</a>
		</li>
	</ul>
</nav>