.pagination {
    .page-item {
        .page-link {
            color: #6e7cc7;
            cursor: pointer;
        }

        &.disabled {
            .page-link {
                color: #c1c1c1;
            }
        }
    }
}